<h1>All our Flats</h1>

<p>All <%= @flats.count %> flats.</p>

<div class="row">
  <% @flats.each do |flat| %>
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm">
        <div class="card-body bg-light">
          <h2 class="card-title fs-4"><%= flat.name %></h2>
          <p class="card-text"><%= flat.address %></p>

          <div class="d-flex gap-3">
            <div>
              <i class="fa-solid fa-user-group"></i>
              <span><%= flat.number_of_guests %></span>
            </div>
            <div>
              <i class="fa-solid fa-euro-sign"></i>
              <span><%= flat.price_per_night %></span>
            </div>
          </div>
        </div>

        <div class="card-body d-flex gap-3">
          <%= link_to "More info", flat_path(flat), class: "text-decoration-none"  %>
          <%= link_to "Edit", edit_flat_path(flat), class: "text-warning text-decoration-none" %>
          <%= link_to "Remove", flat_path(flat),
                        data: {turbo_method: :delete,
                        turbo_confirm: "Are you sure?"},
                        class: "text-danger text-decoration-none"
          %>
        </div>
      </div>
    </div>
  <% end %>
</div>
